# Servidor
PORT=5000
NODE_ENV=production

# Base de Datos (Mongo Atlas)
# Ejemplo: mongodb+srv://usuario:password@cluster.mongodb.net/nexusvital?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/nexusvital

# Seguridad
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
JWT_EXPIRE=7d
COOKIE_EXPIRE=7

# Frontend URL (with Vercel)
CLIENT_URL=https://your-frontend-url.vercel.app
